In [16]:
import pandas as pd
data = pd.read_csv("../data/processed_job_postings_large_noNA.csv")
data.isna().sum()

company_id                    0
name                          2
industry                      0
cleaned_title                 0
cleaned_description           0
work_type                     0
location                      0
formatted_experience_level    0
standardized_annual_salary    0
salary_level                  0
title_emb                     0
dtype: int64

In [17]:
data.dropna(subset=['formatted_experience_level', 'work_type', 'industry'], inplace=True)
data.to_csv("../data/processed_job_postings_large_noNA.csv", index=False)

In [18]:
"""Label rows by salary interval"""  
bins = [0] + list(range(10000, 160000, 10000)) + [float('inf')]
labels = ['10K-'] + [f"{i}K - {i + 10}K" for i in range(10, 150, 10)] + ['160K+']

data['salary_level'] = pd.cut(data['standardized_annual_salary'], bins=bins, labels=labels, right=False)

In [19]:
data

,company_id,name,industry,cleaned_title,cleaned_description,work_type,location,formatted_experience_level,standardized_annual_salary,salary_level,title_emb
0,553718.0,HearingLife,Retail,hearing care provider,overview hearinglife is a national hearing car...,FULL_TIME,"Little River, SC",Entry level,63000.0,60K - 70K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
1,18213359.0,Episcopal Communities & Services,Non-profit Organization Management,cook,descriptiontitle looking for a great opportuni...,FULL_TIME,"Aliso Viejo, CA",Entry level,42758.4,40K - 50K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
2,18213359.0,Episcopal Communities & Services,Non-profit Organizations,cook,descriptiontitle looking for a great opportuni...,FULL_TIME,"Aliso Viejo, CA",Entry level,42758.4,40K - 50K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
3,437225.0,"iHerb, LLC",Retail,principal cloud security architect remote,job summary at iherb we are on a mission to ma...,FULL_TIME,United States,Mid-Senior level,240895.0,160K+,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
4,18213359.0,Episcopal Communities & Services,Non-profit Organization Management,dishwasher,descriptiontitle 2000 signon bonus guaranteed ...,FULL_TIME,"Aliso Viejo, CA",Entry level,37056.0,30K - 40K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
...,...,...,...,...,...,...,...,...,...,...,...
13916,15564.0,Tesla,Automotive,lead solar maintenance roofer residential service,what to expect the lead service installer will...,FULL_TIME,"San Diego, CA",Mid-Senior level,62400.0,60K - 70K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. ...
13917,15564.0,Tesla,Motor Vehicle Manufacturing,lead solar maintenance roofer residential service,what to expect the lead service installer will...,FULL_TIME,"San Diego, CA",Mid-Senior level,62400.0,60K - 70K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. ...
13918,2780388.0,Invitation Homes,Real Estate,manager salesforce platform,invitation homes is a fastpaced evolving publi...,FULL_TIME,"New Hampshire, United States",Mid-Senior level,134808.0,130K - 140K,[1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
13919,1082195.0,ExecuSource,Staffing & Recruiting,contract bilingual recruiter,location phoenix az 85006 in office job monday...,CONTRACT,"Phoenix, AZ",Associate,65000.0,60K - 70K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
13920,1082195.0,ExecuSource,Staffing and Recruiting,contract bilingual recruiter,location phoenix az 85006 in office job monday...,CONTRACT,"Phoenix, AZ",Associate,65000.0,60K - 70K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...

In [20]:
data.to_csv("../data/processed_job_postings_large_noNA.csv", index=False)

In [14]:
one_hot

,10K-,10K - 20K,20K - 30K,30K - 40K,40K - 50K,50K - 60K,60K - 70K,70K - 80K,80K - 90K,90K - 100K,100K - 110K,110K - 120K,120K - 130K,130K - 140K,140K - 150K,160K+
12436,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
12437,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
12438,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
12439,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
12440,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30878,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
30879,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
30880,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
30881,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
30882,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False