In [1]:
import pandas as pd

"""combines crawled and downloaded data, process and form a bigger dataset"""
jobs1 = pd.read_csv("./raw_data/jobs1.csv")
jobs2 = pd.read_csv("./raw_data/jobs2.csv") 
jobs3 = pd.read_csv("./raw_data/jobs3.csv") 
crawled = pd.concat([jobs1, jobs2, jobs3], axis=0, ignore_index=True)
crawled = crawled.dropna(how="all", subset=['min_amount','max_amount'])
crawled = crawled.dropna(how="all", subset=['description'])

In [2]:
import numpy as np

"""Change column names to match original"""
crawled = crawled.rename(columns={'company': 'name',
                                    'min_amount': 'min_salary',
                                    'max_amount': 'max_salary',
                                    'interval': 'pay_period',
                                    'job_type': 'work_type',
                                    'company_industry': 'industry'})

crawled['company_id'] = np.nan
crawled['formatted_experience_level'] = np.nan
crawled['med_salary'] = np.nan
crawled['formatted_work_type'] = np.nan

crawled = crawled[[
    'company_id', 'name', 'industry', 'title', 'description', 'max_salary', 'med_salary',
    'min_salary', 'work_type', 'pay_period', 'location', 'formatted_experience_level']]

crawled['work_type'] = crawled['work_type'].map({'fulltime': 'FULL_TIME', 
                                                   'parttime': 'PART_TIME', 
                                                   'contract': 'CONTRACT',
                                                   'internship': 'INTERNSHIP',
                                                   'other': 'OTHER',
                                                   'temporary': 'TEMPORARY'})
crawled['pay_period'] = crawled['pay_period'].map({'yearly': 'YEARLY', 
                                                     'monthly': 'MONTHLY', 
                                                     'hourly': 'HOURLY', 
                                                     'weekly': 'WEEKLY',
                                                     'daily': 'DAILY'})

crawled

,company_id,name,industry,title,description,max_salary,med_salary,min_salary,work_type,pay_period,location,formatted_experience_level
0,NaN,Millennia,NaN,Lead RPA Developer,Please note: **Applicants must be authorized t...,120000.0,NaN,100000.0,NaN,YEARLY,"Cary, NC",NaN
1,NaN,TechGenius Solutions Inc.,NaN,Field Service Engineer / Onsite Delivery Engineer,TechGenius Solutions Inc. is committed to prov...,90000.0,NaN,70000.0,NaN,YEARLY,"Kingston, GA",NaN
2,NaN,Digital iTechnology,NaN,W2 Only - Java Developer with AEM - Denver CO,***STOP - NO Third Parties Please! Please appl...,52.0,NaN,50.0,NaN,HOURLY,"Denver, CO",NaN
3,NaN,Anchor Fabrication,NaN,CNC Machinist/Welder/Programmer,**CNC Machinist/Welder/Programmer**\n\nAnchor ...,63822.0,NaN,43968.0,NaN,YEARLY,"Denton, TX",NaN
4,NaN,RaceEntry.com,NaN,Full Stack Web Developer,**We develop for 3 websites:** \n\n**RaceEntry...,35.0,NaN,35.0,NaN,HOURLY,"Provo, UT",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
20664,NaN,Home 2 Suites Salt Lake City-East,NaN,Hotel Lobby Attendant,Welcome to Home 2 Suites Salt Lake City - East...,15.0,NaN,15.0,NaN,HOURLY,"Salt Lake City, UT, USA",NaN
20665,NaN,Phaxis - Support Services,NaN,Hospitality Representative,WE ARE SEEING AN EXPERIENCED CONCIERGE WITH A ...,33.0,NaN,28.0,TEMPORARY,HOURLY,"Jersey City, NJ, USA",NaN
20666,NaN,Prosegur,NaN,Lobby Security Officer,Lobby Security Officer \n \nWork for a compa...,17.0,NaN,17.0,NaN,HOURLY,"Atlanta, GA, USA",NaN
20668,NaN,Crothall Healthcare,NaN,LOBBY ATTENDANT (PART TIME)-1299363,Crothall Healthcare \\* We are hiring immediat...,16.0,NaN,16.0,NaN,HOURLY,"Corona, CA, USA",NaN
20669,NaN,Compass Group,NaN,LOBBY ATTENDANT (PART TIME),\\* We are hiring immediately for part time **...,16.0,NaN,16.0,NaN,HOURLY,"Corona, CA, USA",NaN

In [3]:
cols = ['company_id', 'title', 'description', 'max_salary', 'med_salary', 'min_salary', 'pay_period', 'formatted_work_type', 'location', 'work_type', 'formatted_experience_level']
original = pd.read_csv("./raw_data/job_postings.csv", usecols=cols)

company_industries = pd.read_csv("./raw_data/company_details/company_industries.csv")
companies = pd.read_csv("./raw_data/company_details/companies.csv")


# Filter out entries lacking salary data
original = original.dropna(how="all", subset=['max_salary','med_salary', 'min_salary'])
original = original.merge(companies, on='company_id', how='left')
original = original.merge(company_industries, on='company_id', how='left')
original = original.rename(columns={'description_x': 'description'})
original = original[[
    'company_id', 'name', 'industry', 'title', 'description', 'max_salary', 'med_salary', 
    'min_salary', 'work_type', 'pay_period', 'location', 'formatted_experience_level'
]]
original

,company_id,name,industry,title,description,max_salary,med_salary,min_salary,work_type,pay_period,location,formatted_experience_level
0,553718.0,HearingLife,Retail,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,FULL_TIME,MONTHLY,"Little River, SC",Entry level
1,18213359.0,Episcopal Communities & Services,Non-profit Organization Management,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,FULL_TIME,HOURLY,"Aliso Viejo, CA",Entry level
2,18213359.0,Episcopal Communities & Services,Non-profit Organizations,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,FULL_TIME,HOURLY,"Aliso Viejo, CA",Entry level
3,437225.0,"iHerb, LLC",Retail,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,FULL_TIME,YEARLY,United States,Mid-Senior level
4,18213359.0,Episcopal Communities & Services,Non-profit Organization Management,Dishwasher,"descriptionTitle\n\n $2,000 Sign-on Bonus Guar...",NaN,19.30,NaN,FULL_TIME,HOURLY,"Aliso Viejo, CA",Entry level
...,...,...,...,...,...,...,...,...,...,...,...,...
18452,NaN,NaN,NaN,Mental Health Practitioners,Gail M. Yost and Associates is hiring full tim...,NaN,100000.00,NaN,FULL_TIME,YEARLY,"Minneapolis, MN",NaN
18453,61469.0,United Staffing Solutions (USS),Staffing & Recruiting,Registered Nurse (RN) Vaccinator,United Staffing Solutions is partnering with o...,50.0,NaN,50.0,PART_TIME,HOURLY,"Muskegon, MI",NaN
18454,3894635.0,Sunnyland Farms,Retail,Office Associate,Provide clerical and administrative support to...,42000.0,NaN,37000.0,FULL_TIME,YEARLY,"Albany, GA",NaN
18455,NaN,NaN,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,FULL_TIME,YEARLY,"Chico, CA",NaN
18456,630152.0,Karen Marie Salon,Consumer Services,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,NaN,35000.0,FULL_TIME,YEARLY,"Chicago, IL",NaN

In [4]:
large = pd.concat([crawled, original], axis=0, ignore_index=True)
large

,company_id,name,industry,title,description,max_salary,med_salary,min_salary,work_type,pay_period,location,formatted_experience_level
0,NaN,Millennia,NaN,Lead RPA Developer,Please note: **Applicants must be authorized t...,120000.0,NaN,100000.0,NaN,YEARLY,"Cary, NC",NaN
1,NaN,TechGenius Solutions Inc.,NaN,Field Service Engineer / Onsite Delivery Engineer,TechGenius Solutions Inc. is committed to prov...,90000.0,NaN,70000.0,NaN,YEARLY,"Kingston, GA",NaN
2,NaN,Digital iTechnology,NaN,W2 Only - Java Developer with AEM - Denver CO,***STOP - NO Third Parties Please! Please appl...,52.0,NaN,50.0,NaN,HOURLY,"Denver, CO",NaN
3,NaN,Anchor Fabrication,NaN,CNC Machinist/Welder/Programmer,**CNC Machinist/Welder/Programmer**\n\nAnchor ...,63822.0,NaN,43968.0,NaN,YEARLY,"Denton, TX",NaN
4,NaN,RaceEntry.com,NaN,Full Stack Web Developer,**We develop for 3 websites:** \n\n**RaceEntry...,35.0,NaN,35.0,NaN,HOURLY,"Provo, UT",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
30888,NaN,NaN,NaN,Mental Health Practitioners,Gail M. Yost and Associates is hiring full tim...,NaN,100000.0,NaN,FULL_TIME,YEARLY,"Minneapolis, MN",NaN
30889,61469.0,United Staffing Solutions (USS),Staffing & Recruiting,Registered Nurse (RN) Vaccinator,United Staffing Solutions is partnering with o...,50.0,NaN,50.0,PART_TIME,HOURLY,"Muskegon, MI",NaN
30890,3894635.0,Sunnyland Farms,Retail,Office Associate,Provide clerical and administrative support to...,42000.0,NaN,37000.0,FULL_TIME,YEARLY,"Albany, GA",NaN
30891,NaN,NaN,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,FULL_TIME,YEARLY,"Chico, CA",NaN
30892,630152.0,Karen Marie Salon,Consumer Services,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,NaN,35000.0,FULL_TIME,YEARLY,"Chicago, IL",NaN

In [5]:
import spacy
from data_processing import standardize_salary, clean_description, clean_title

"""Standardize salary"""  
large['standardized_annual_salary'] = large.apply(standardize_salary, axis=1)


"""Label rows by salary interval"""  
bins = [0] + list(range(10000, 160000, 10000)) + [float('inf')]
labels = ['10K-'] + [f"{i}K - {i + 10}K" for i in range(10, 150, 10)] + ['160K+']
large['salary_level'] = pd.cut(large['standardized_annual_salary'], bins=bins, labels=labels, right=False)

In [6]:
"""Clean descriptions"""  
nlp = spacy.load("en_core_web_sm", disable=["parser", "ner"])
large['cleaned_description'] = large['description'].apply(lambda x: clean_description(x, nlp))

In [7]:
"""Clean title"""  
large['cleaned_title'] = large['title'].apply(lambda x: clean_title(x, nlp))

In [8]:
from src.data_processing.data_processing import generate_vocabulary
from src.data_processing.data_processing import create_title_emb
 
"""Create embedding for title"""  
vocab = generate_vocabulary(large['cleaned_title'])
word_to_vec = {word: np.eye(len(vocab))[i] for i, word in enumerate(vocab)}
large['title_emb'] = large['cleaned_title'].apply(lambda x: create_title_emb(x, word_to_vec))

In [9]:
large = large[[
    'company_id', 'name', 'industry', 'cleaned_title', 'cleaned_description', 'work_type',
    'location', 'formatted_experience_level', 'standardized_annual_salary', 'salary_level', 'title_emb'
]]
large.to_csv("../data/processed_job_postings_large.csv", index=False)