In [2]:
import pandas as pd

In [3]:
processed = pd.read_csv("processed_job_postings_large.csv")
processed

,company_id,name,industry,cleaned_title,cleaned_description,work_type,location,formatted_experience_level,standardized_annual_salary,salary_level,title_emb
0,NaN,Millennia,NaN,lead rpa developer,please note applicants must be authorized to w...,NaN,"Cary, NC",NaN,110000.0,110K - 115K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
1,NaN,TechGenius Solutions Inc.,NaN,field service engineer onsite delivery engineer,techgenius solutions inc is committed to provi...,NaN,"Kingston, GA",NaN,80000.0,80K - 85K,[0. 2. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. ...
2,NaN,Digital iTechnology,NaN,w2 java developer aem denver co,stop no third parties please please apply only...,NaN,"Denver, CO",NaN,97920.0,100K - 105K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
3,NaN,Anchor Fabrication,NaN,cnc machinist welder programmer,cnc machinistwelderprogrammer anchor fabricati...,NaN,"Denton, TX",NaN,53895.0,55K - 60K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
4,NaN,RaceEntry.com,NaN,stack web developer,we develop for 3 websites raceentrycom stridee...,NaN,"Provo, UT",NaN,67200.0,70K - 75K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
...,...,...,...,...,...,...,...,...,...,...,...
30888,NaN,NaN,NaN,mental health practitioners,gail m yost and associates is hiring full time...,FULL_TIME,"Minneapolis, MN",NaN,100000.0,100K - 105K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
30889,61469.0,United Staffing Solutions (USS),Staffing & Recruiting,registered nurse rn vaccinator,united staffing solutions is partnering with o...,PART_TIME,"Muskegon, MI",NaN,96000.0,100K - 105K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. ...
30890,3894635.0,Sunnyland Farms,Retail,office associate,provide clerical and administrative support to...,FULL_TIME,"Albany, GA",NaN,39500.0,40K - 45K,[0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. ...
30891,NaN,NaN,NaN,licensed insurance agent,while many industries were hurt by the last fe...,FULL_TIME,"Chico, CA",NaN,48880.0,50K - 55K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
30892,630152.0,Karen Marie Salon,Consumer Services,stylist clorist,karen marie is looking for an awesome experien...,FULL_TIME,"Chicago, IL",NaN,57500.0,60K - 65K,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...